body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Card {
    float: right;
    border: 5px solid black;
    border-radius: 60px;
    background-color: hsl(180, 33%, 99%);
    padding: 20px;
    width: 900px;
    height: 600px;
}

.greeting{
    margin-left: 240px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 60px;
}

.signin{
    margin-bottom: -40px;
    margin-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

#Username{
    margin-left: 365px;
    margin-top: 10.6px;
    border: 2px solid black;
    border-radius: 5px;
    
}

#Username::placeholder{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#Username:focus {
    outline: none;
    border: 2px solid #dae0dc;
}

.Password{
    margin-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
}